/* For Desktop */
@media screen and (min-width: 1024px) {
}

/* For Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) { 
}

/* For Tablet / Desktop */
@media screen and (min-width: 769px) {
}

/* For Mobile */
@media screen and (max-width: 768px) {
  .map {
    width: 100%;
    height: 100%;
  }
}

.navbar  {
  min-height: 200px !important;
  min-width: 200px;
}

.navbar .navbar-brand a .image img {
  object-fit: cover;
}

.navbar div {
  flex: 1;
  justify-content: center;
}

.footer,
.background {background-color: #1B3992;}

.footer .content .has-text-centered strong {color: white;}

.fixed-icon a,
.fixed-icon a .image,
.fixed-icon a .image img{display: inline;}

.fixed-icon {
  position: fixed;
  right: 0;
  bottom: 10px;
}

.locate-icon {
  border-radius: 50%;
  background-color: white;
}

.map {
  width: 100%;
  height: 100%*2;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  border: 1px solid white;
  background-color: white;
  margin: 4.25px 7px 4.25px 7px;
}

h1.wpp-color {
  color: #26d367;
}

.button.wpp-color {
  background-color: #26d367;
}

.button.wpp-color:hover {
  color: white !important;
}

.content.is-large .columns .column ul {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
}

.columns.is-mobile.window-logo .column:first-child .image img {
  width: 25% !important;
  height: 100%;
  object-fit: cover;
}

.columns.is-mobile.window-logo .column:last-child .image img {
  width: 20% !important;
  height: 100%;
  object-fit: cover;
}
